nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 300px;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 35px;
    font-size: 2.2rem;
    color: rgb(155, 153, 153);
}
.common-btn{
    padding: 20px 60px;
    background-color: blue;
    font-weight: bold;
    font-size: 22px;
    color: white;
    cursor: pointer;
    border-radius: 12px;
}
nav img{
    width: 230px;
}
.hero{
    background-image: url(./images/banner.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1320px;
    /* align-items: center; */
    display: flex;
    justify-content: center;
    margin: 100px auto;
}
.hero-content{
    text-align: center;
    color: white;
    
}
.hero-content h1{
    font-size: 130px;
    /* margin bottom: 20px; */
    /* margin-top :60px; */
}
.hero-content p{
    font-size: 45px; 
    line-height: 1.5;
    margin: 10px 0 30px 0;

    /* margin:auto; */
    /* margin-bottom: 40px; */
    /* text-align: colu,?;? */
    /* margin: 20px 0; */
}
.hero-content button{
    /* margin-bottom: 800px; */ 
    padding:16px 32px; 
    /* margin-top:400px !important; */
}
.speakers-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    max-width: 90%;
    margin: 0 auto;
    
}
.speakers h1{
    text-align: center;
    font-size: 100px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 200px;
    margin-bottom: 120px;
}
.speakers-grid img{
    border-radius: 10px;
    width: 80%;
}
.speakers-bio{
    border: 1px solid white;
}
.blue{
    color: blue;
    font-size: 20px;
    font-weight: bold;
}
.grey{
    color: #575757;
    font-size: 20px;
    font-weight: 400;
}

.planning{
    text-align: center;
    padding: 60px 20px;
}
.planning h1{
    font-size: 100px;
    text-decoration: none;
}
.planning p{
    font-size: 50px;
    margin-bottom: 30px;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    align-items: start;
    margin: 50px auto 0;
    max-width: 80%;
}
.box-1, .box-2 , .box-3{
    border: 3px solid rgb(104, 102, 102);
    border-radius: 16px;
    padding: 30px ;
    text-align: left;
    gap: 25px;
}
.box-1,.box-2,.box-3 h1{
font-size: 70px;
}
.box-container ul{
    list-style: circle;
    padding: 0;
    margin: 20px 0;
    display: block!important;
}
box-container li{
    display: block;
    padding: 6px 0;
    color:black;
}
.box-2{
    background-color: black;
    color: white;
}
.box-container h1{
    font-size: 48px;
    margin: 10px 0;
}
.outline-btn{
    padding: 20px 60px;
    background-color: white;
    font-weight: bold;
    font-size: 22px;
    color:blue;
    cursor: pointer;
    border-radius: 12px;
}